.buttonFilter {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px; 

  transition: all 0.2s ease-in-out;
}

.buttonFilter:hover {
  background-color: #f9f9f9;
  border-color: #359830; 
}

.text {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  white-space: nowrap;
}
