.modalOverlay_professor {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center; 
  align-items: center;     
  z-index: 9999;           
}

.modal_professor {
  background: white;
  padding: 24px 32px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10000;
}

.h2_edit_modal_professor {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.modal_professor label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 400;
  color: #6A7282;
}

.modal_professor input,
.modal_professor select {
  margin-top: 6px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc; 
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  outline: none; 
  transition: border 0.2s ease; 
}

.modal_professor input:focus,
.modal_professor select:focus {
  border: 1px solid oklch(72.3% 0.219 149.579);
  outline: none; 
  transition: border 0.3s ease;
}

.selectWrapper_professor {
  position: relative;
  width: 100%; 
  margin-top: 6px;
}

.customSelect_professor {
  width: 95%; 
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 256 256'%3E%3Cpath d='M128,188a11.96187,11.96187,0,0,1-8.48535-3.51465l-80-80a12.0001,12.0001,0,0,1,16.9707-16.9707L128,159.0293l71.51465-71.51465a12.0001,12.0001,0,0,1,16.9707,16.9707l-80,80A11.96187,11.96187,0,0,1,128,188Z' fill='%2362a992'/%3E%3C/svg%3E");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  outline: none;
  transition: all 0.2s ease;
}

.customSelect_professor:focus {
  border: 1.5px solid oklch(62.7% 0.194 149.214);
  border-radius: 8px 8px 0 0; 
  background-color: #f9f9f9;
}

.optionsList_professor {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; 
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px; 
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-height: 200px;
  overflow-y: auto;
}

.customSelect_professor:focus + .optionsList,
.optionsList_professor:hover {
  display: block;
}

.optionItem_professor {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
}

.optionItem_professor:last-child {
  border-bottom: none;
}

.optionItem_professor:hover {
  background-color: oklch(92.5% 0.084 155.995);
}

.alertWarning_professor {
  background: #fff3cd;
  color: #856404;

  padding: 8px 12px 8px 55px; 
  border-radius: 8px;
  margin-bottom: 14px;

  display: flex;
  align-items: center;

  background-image: url('../../assets/alert-icon-message.png');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 22px 20px;

}

.h2_alert_message_professor {
  font-size: 14px;
  margin: 0; 
}

.modalActions_professor {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.saveButton_professor {
  background: oklch(62.7% 0.194 149.214);
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.saveButton_professor:hover {
  background: oklch(72.3% 0.219 149.579);
  font-weight: 500;
}

.cancelButton_professor {
  background: #e5e7eb;
  color: rgb(145, 145, 145);
  border: none;
  padding: 10px 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cancelButton_professor:hover {
  background: oklch(57.7% 0.245 27.325);
  color: #ffffff;
  font-weight: 500;
}
