@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 16px;
    width: 81%;
    background-color: #ffffff;

    padding: 20px 30px;
    margin: 20px auto;
}

.titledc {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: 4px;
    color: #000000;
    font-family: "Inter", sans-serif;
    border-bottom: 1px solid #cccccc;
}

.subtitledc {
    font-size: 1.2rem;
    margin-bottom: 16px;
    color: #000000;
    font-family: "Inter", sans-serif;
}

.subtitle span {
    font-weight: bold;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    position: relative;
}

.card img {
    width: 50px;
    height: 45px;
    margin-right: 12px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: 4px;
    color: #000000;
    font-family: "Inter", sans-serif;
}

.cardTitle {
    font-size: 17px;
    color: #000000;
}

.cardScore {
    font-size: 1.4em;
    color: #000000;
}

.rank {
    position: absolute;
    right: 12px;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
}

.switchContainer {
    margin: 20px auto;
    border: 2px solid #359830;
    border-radius: 8px;
    padding: 16px;
    width: 83%;
    background-color: #ffffff;
    
}

.switchButtons {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.switchButtons button {
    padding: 6px 12px;
    border: 1px solid #359830;
    background-color: #ffffff;
    color: #359830;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease;
}

.switchButtons button.active {
    background-color: #359830;
    color: #ffffff;
}

.active {
    background-color: #359830;
    color: #fff;
}

.graphContainer {
    display: flex;
    gap: 24px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filters button {
    padding: 6px 10px;
    border: 1px solid #359830;
    background-color: #ffffff;   
    color: #359830;              
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease;
}

.filters button.filterActive {
    background-color: #359830;
    color: #ffffff;
}

.graphPlaceholder {
    flex: 1;
    height: 300px;
    border: 1px dashed #359830;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.evaluatePlaceholder {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
}

.graphdeleteafter {
    color: #000000;
}

.evaluateContainer {
  margin: 0 auto;        

}

.h3_evaluation_class {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 1.3em;

    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: black;

    align-content: space-between;
    justify-content: start;
    align-items: center;
    justify-items: center;
}

.ratingGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-weight: 600;
  
}

.buttons {
  display: flex;
  gap: 6px;
  
}

.button {
  color: #000000;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  
}

.button:hover {
  background: #FFFFFF;
  color: #359830;
  border-color: #359830;
}

.active {
  background: #359830;
  color: #fff;
  border-color: #359830;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancel {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.confirm {
  background: #359830;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}


.commentsContainer {
  width: 82%;
  margin: 20px auto;
  padding: 24px;
  border: 2px solid #359830;
  border-radius: 10px;
  background: #fff;
}

.commentsTitle {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: -5px;
    font-size: 1.8em;
    border-bottom: 1px solid #ccc;
}

.commentsClass {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: -5px;
    font-size: 1.3em;
}

.commentsList {
  max-height: 260px;   
  overflow-y: auto;
  margin-bottom: 16px;
  padding-right: 8px;
  color: #000000;
}

.commentItem {
  margin-bottom: 18px;
}

.commentItem strong {
  display: block;
  font-weight: 600;
}

.commentItem span {
  font-size: 12px;
  color: #777;
}

.commentItem p {
  margin-top: 4px;
}

.newComment {
  display: flex;
  gap: 12px;
}

.newComment input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.9em;
}

.postButton {
  background: #359830;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
